{
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "server/**/*.js",
      "options": { "semi": true, "singleQuote": false }
    }
  ]
}
